@charset "utf-8";
@font-face {
  font-family: 'Noto Sans Japanese';
  font-style: normal;
  font-weight: 400;
  src: local("Noto Sans CJK JP Regular"),
      url(./font/NotoSansJP-Regular.woff2) format('woff2'),
      url(./font/NotoSansJP-Regular.woff) format('woff'),
      url(./font/NotoSansJP-Regular.otf) format('opentype');
}

@font-face {
  font-family: 'Noto Sans Japanese';
  font-style: normal;
  font-weight: 500;
  src: local("Noto Sans CJK JP Medium"),
      url(./font/NotoSansJP-Medium.woff2) format('woff2'),
      url(./font/NotoSansJP-Medium.woff) format('woff'),
      url(./font/NotoSansJP-Medium.otf) format('opentype');
}

@font-face {
  font-family: 'Noto Sans Japanese';
  font-style: normal;
  font-weight: 700;
  src: local("Noto Sans CJK JP Bold"),
      url(./font/NotoSansJP-Bold.woff2) format('woff2'),
      url(./font/NotoSansJP-Bold.woff) format('woff'),
      url(./font/NotoSansJP-Bold.otf) format('opentype');
}

// フォントを変える
$font-family-base: 'Noto Sans Japanese';

/* Bootstrap を読み込む */
@import "~bootstrap/scss/bootstrap.scss";
@import "./lib/bootstrap-datetimepicker.min.css";

.alertMes {
  text-align: center;
}


.datepicker-days th.dow:first-child,
.datepicker-days td:first-child {
    color: #f00;
}
.datepicker-days th.dow:last-child,
.datepicker-days td:last-child {
    color: #00f;
}
body {
  position: relative;
}
#password_panel {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  z-index: 10;
  background-color: rgba($color: #000000, $alpha: .8);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
#password_panel .form-group {
  margin-bottom: 600px;
}
#password_panel input {
  width: 10rem;
}

.btn-primary,
.btn-info {
  width: 8rem;
}