/* ---------------------------------------- */
/* Base Style */
/* ---------------------------------------- */
@media (max-width: 800px) {
  html {
    overflow: auto;
  }
}
/* ---------------------------------------- */
/* MODULE */
/* ---------------------------------------- */
/* ATOM=============================== */
@media (max-width: 800px) {
  .secttl{
    font-size: 1.4rem;
  }
}
/* ---------------------------------------- */
/* hero */
/* ---------------------------------------- */
@media (max-width: 800px) {
  .hero-slider {
    max-height: 667px;
  }
  .hero-slider .item {
    height: calc(100% - 107px)
  }
}
/* ---------------------------------------- */
/* hero catch 縦書き */
/* ---------------------------------------- */
@media (max-width: 800px) {
  .hero-catch .catch-01 {
    font-size: 1.6rem;
    bottom: 6rem;
    right: 1rem;
  }
  .hero-catch .catch-02 {
    font-size: 1.2rem;
    bottom: 6rem;
    right: 4rem;
  }
  .hero-catch .catch-03 {
    font-size: 1.2rem;
    bottom: 8rem;
    right: 6rem;
  }
}
/* ---------------------------------------- */
/* hero date */
/* ---------------------------------------- */
@media (max-width: 800px) {
  .hero-date {
    font-weight: 700;
    position: absolute;
    font-size: 1.2rem;
    left: 3rem;
    bottom: 2rem;
    width: 10rem;
  }
  .hero-date .vertical {
    font-size: 0.5rem;
  }
}

/* ---------------------------------------- */
/* header-logo */
/* ---------------------------------------- */
@media (max-width: 800px) {
  .header-logo {
    display: none;
  }
}

/* ---------------------------------------- */
/* schedule */
/* ---------------------------------------- */
@media (max-width: 600px) {
  .big-container {
      display: none;
  }
  .small-container {
     padding-bottom: 200%;   /* 高さ */
  }
}
@media (min-width: 600px) {
  .small-container {
      display: none;
  }
}
/* ---------------------------------------- */
/* header */
/* ---------------------------------------- */
@media (max-width: 600px) {
  header ul li {
    margin-right: 1rem;
  }
}
@media (max-width: 480px) {
  header ul li {
    margin-right: 0.1rem;
    padding: 0.2rem;
    font-size: 0.7rem;
  }
}


/* ---------------------------------------- */
/* facility */
/* ---------------------------------------- */
@media (max-width: 800px) {
  .facility-slider .item{
    width:173px;
    min-width: 173px;
  }
  .facility-slider {
    width:1030px;
    margin-left: -525px;
  }
  .item .place {
    padding-left: 6px;
    padding-right: 6px; 
    font-size: 10px;
    line-height: 1;
    padding-top: 3px;
    padding-bottom: 1px;
  }
  .brand-slider-container {
    min-height: 164px;
  }
}
/* ---------------------------------------- */
/* footer */
/* ---------------------------------------- */
@media (max-width: 800px) {
  footer {
    padding-right: 0;
    padding-left: 0;
  } 
  footer .footer-logo {
    display: inline-block;
  }
  footer .footer-nav{
    margin-bottom: 18px;
    padding-left: 40px;
    padding-right: 0;
  }
  footer .footer-nav-unit li{
    margin-bottom: 16px;
    margin-right: 24px;
    padding: 0;
  }
  footer .footer-nav-unit li::after{
    display: none;
  }
  footer .inner{
    display: block;
    padding-top: 26px;
    padding-bottom: 26px;
    padding-left: 0;
    padding-right: 0;
  }
  footer .footer-logo{
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 26px;
    border-bottom: 1px solid #DDDDDD;
    text-align: center;
    display: flex;
    justify-content: center;
  }
  footer .footer-logo img{
    width:182px;
    height: auto;
  }
  footer .footer-legal{
    display: block;
    padding-top: 30px;
    padding-left: 20px;
    padding-right: 20px;
  }
  footer .copyright{
    margin-left: 0; 
    clear:both;
    text-align: center;
  }
}