@charset "utf-8";
@import "~swiper/css/swiper.min.css";
@import "reset.scss";
@import "color.scss";
@import url("https://use.fontawesome.com/releases/v5.13.0/css/all.css");
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+JP:wght@400;500;700&display=swap&effect=shadow-multiple');
// @font-face {
//   font-family: 'Noto Sans Japanese';
//   font-style: normal;
//   font-weight: 400;
//   src: local("Noto Sans CJK JP Regular"),
//       url(./font/NotoSansJP-Regular.woff2) format('woff2'),
//       url(./font/NotoSansJP-Regular.woff) format('woff'),
//       url(./font/NotoSansJP-Regular.otf) format('opentype');
// }

// @font-face {
//   font-family: 'Noto Sans Japanese';
//   font-style: normal;
//   font-weight: 500;
//   src: local("Noto Sans CJK JP Medium"),
//       url(./font/NotoSansJP-Medium.woff2) format('woff2'),
//       url(./font/NotoSansJP-Medium.woff) format('woff'),
//       url(./font/NotoSansJP-Medium.otf) format('opentype');
// }

// @font-face {
//   font-family: 'Noto Sans Japanese';
//   font-style: normal;
//   font-weight: 700;
//   src: local("Noto Sans CJK JP Bold"),
//       url(./font/NotoSansJP-Bold.woff2) format('woff2'),
//       url(./font/NotoSansJP-Bold.woff) format('woff'),
//       url(./font/NotoSansJP-Bold.otf) format('opentype');
// }
/* ---------------------------------------- */
/* Base Style */
/* ---------------------------------------- */
html {
  overflow: auto;
}
body {
  color: $baseColor;
  font-size: 14px;
  line-height: 1.6;
  letter-spacing: 0;
  font-family: 'Noto Sans JP', "Hiragino Kaku Gothic ProN", "ヒラギノ角ゴ ProN W3", Meiryo, "メイリオ",Helvetica, Arial,  sans-serif;
  -ms-font-feature-settings: "normal";
  -webkit-text-size-adjust: 100%;
  text-rendering:optimizeLegibility;
  -webkit-font-smoothing:antialiased;
  -moz-osx-font-smoothing:grayscale;
  overflow-x: hidden;
}
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video, a {
  box-sizing: border-box;
}
main {
  display:block;
}
p, ul li, ol li, dl dd, address {
  margin-bottom: 1em;
}
img {
  max-width:100%;
  height:auto;
}
a:link {
  color: $baseColor;
  text-decoration: underline;
}
a:visited {
  color: $baseColor;
}
a:hover {
  color: $baseColor;
  text-decoration: none;
}
a:active {
  color: $baseColor;
}

/* clearfix */
.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
  line-height: 0;
  font-size: 0;
}
.clearfix {
  min-height: 1%;
}
button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  padding: 0;
  appearance: none;
}
/* ---------------------------------------- */
/* MODULE */
/* ---------------------------------------- */
/* ATOM=============================== */
$narrowWidth: 668px;
$narrowRatio: 42%;
$wideRatio: 58%;
$radius: 15px;

.bg-color {
  background-color: $bgColor;
}
.wf-notomedium {
  font-family: 'Noto Sans JP', "Hiragino Kaku Gothic ProN", "ヒラギノ角ゴ ProN W3", Meiryo, "メイリオ", sans-serif;  
  font-weight:500;
}
.align-c{
  text-align:center;
}
.secttl{
  font-size: 1.8rem;
  letter-spacing: 0.08em;
}
.sr-only {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}


/* ---------------------------------------- */
/* LAYOUT */
/* ---------------------------------------- */
.l-inner{
  max-width: 1070px;
  margin: 0 auto;
  padding-left: 25px;
  padding-right: 25px;
}
body > section:not(:first-child),
body > article {
  padding-top: 60px;
  padding-bottom: 60px;
}
section h2,
article h2 {
  margin-bottom: 40px;
  // padding-top: 120px;
}


/* ---------------------------------------- */
/* loading */
/* ---------------------------------------- */
.loading {
  position: fixed;
  z-index:1001;
  top:0;
  left:0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $backgoundColor;
}
.box-loader {
  display: flex;
  justify-content: center;
  align-items: center;
}
.box-loader .dot {
  display: block;
  width: 22px;
  height: 22px;
  margin: 0 6px;
  background-color:#eeeeee;
  border-radius: 50%;
  position: relative;
}
.box-loader .color {
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  opacity:0;
  /* どのような要素の変更が予測されているかブラウザーに助言 */
  /* https://developer.mozilla.org/ja/docs/Web/CSS/will-change */
  will-change: opacity, transform;
  transition: opacity .3s cubic-bezier(0.38, 1.43, 0.96, 0.27), transform .3s cubic-bezier(0.38, 1.43, 0.96, 0.27);
}
.box-loader .dot:nth-child(1) .color {
  background-color: $color1;
}
.box-loader .dot:nth-child(2) .color {
  background-color: $color2;
}
.box-loader .dot:nth-child(3) .color {
  background-color: $color3;
}
.box-loader .dot:nth-child(4) .color {
  background-color: $color4;
}
.box-loader .dot:nth-child(5) .color {
  background-color: $color5;
}
.box-loader .dot.is-colored .color {
  opacity: 1;
  transform: scale(1.2, 1.2);
}

/* ---------------------------------------- */
/* hero */
/* ---------------------------------------- */
.sec-hero .l-inner {
  position: relative;
}
.hero-slider {
  height: 100vh;
  overflow: hidden;
}
.hero-wrapper {
  max-height: initial;
  overflow: hidden;
}
.hero-slider .item {
  height:100%;
  max-height: calc(100% - 40px);
  background-size:cover;
  background-position: center;
  background-repeat: no-repeat;
  margin: 0;
  overflow: hidden;
  transform-origin: center;
}
.hero-slider .item video {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.hero-slider .item-01 {
  background-image: url(./img/hero-slider-01.jpg);
  background-position: right;
}
.hero-slider .item-02 {
  background-image: url(./img/hero-slider-02.jpg);
}
.hero-slider .item-03 {
  background-image: url(./img/hero-slider-03.jpg);
}
.hero-slider .item-04 {
  background-image: url(./img/hero-slider-04.jpg);
}
.hero-slider .item-05 {
  background-image: url(./img/poster-01.png);
  background-color: white;
}

.hero-slider .item img {
  opacity: 0;
  height: 0;
  display: block;
}
/* ---------------------------------------- */
/* hero catch 縦書き */
/* ---------------------------------------- */
.vertical {
  -ms-writing-mode: tb-rl; /* for MS IE11 */
  writing-mode: vertical-rl;
  font-weight: 700;
  z-index: 100;
  white-space: nowrap;
  text-align: center;
  // この2つの設定値で以下の問題が解決
  // - スムーススクロールができない
  // - スクロールバーが長すぎる
  // - 縦書きが表示されない
  left:50%;  // for IE11
  transform:translate(-50%, 0%);  // for IE11
}
.hero-catch p {
  position: relative;
  text-shadow: 0 0 3px pink;
}
.hero-catch .catch-01,
.hero-catch .catch-02,
.hero-catch .catch-03 {
  position: absolute;
  opacity: 0;
  transform: translateY(10px);
  will-change: transform, opacity;
}
.hero-catch .catch-01 {
  font-size: 2rem;
  bottom: 1rem;
  right: 4rem;
}
.hero-catch .catch-02 {
  font-size: 1.6rem;
  bottom: 1rem;
  right: 7rem;
}
.hero-catch .catch-03 {
  font-size: 1.6rem;
  bottom: 1rem;
  right: 9rem;
}
.catch-01,
.catch-02,
.catch-03 {
  animation: fadeIn 0.7s cubic-bezier(0.455, 0.03, 0.515, 0.955) forwards;
}
.catch-01 {
  animation-delay: 2.8s;
}
.catch-02 {
  animation-delay: 3.2s;
}
.catch-03 {
  animation-delay: 3.4s;
}
@keyframes fadeIn{
  0%{
    opacity:0;
    transform: translateY(5px);
  }
  100%{
    opacity:1;
    transform: translateY(0px);
  }
}
/* ---------------------------------------- */
/* hero date */
/* ---------------------------------------- */
.hero-date {
  font-weight: 700;
  position: absolute;
  font-size: 2rem;
  left: 3rem;
  bottom: 0.05rem;
  z-index: 51;
  text-shadow: 0 0 3px pink;
}
.hero-date .vertical {
  font-size: 0.8rem;
  writing-mode: vertical-rl;
}
.hero-date span {
  white-space: nowrap;
}
/* ---------------------------------------- */
/* header-logo */
/* ---------------------------------------- */
.header-logo{
  position: fixed;
  z-index: 1002;
  top:19px;
  left:30px;
  width: 50px;
  height: 121px;
}
.header-logo a{
  display: block;
  opacity: 1;
  transition: opacity 0.4s ease-out;
}
.header-logo a:hover{
  opacity: 0.5;
  transition: opacity 0.2s ease-out;
}
/* ---------------------------------------- */
/* header */
/* ---------------------------------------- */
header {
  position: fixed;
  z-index: 1000;
  top: 0;
  width: 100%;
  height: 60px;
  opacity: 0;
  margin-top: -100px;
  will-change: opacity, margin-top;
  transition: opacity .4s linear, margin-top .4s linear;
}
header.scrolled {
  opacity: 1;
  margin-top: 0;
}
header ul {
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba($color: $backgoundColor, $alpha: 0.6)
}
header ul li {
  margin-right: 1.4rem;
  margin-top: 1rem;
  border-bottom: 3px solid transparent;
  white-space: nowrap
}
header ul li:hover {
  border-bottom: 3px solid $color3;
}
header ul li a:link {
  font-weight: 700;
  text-decoration: none;
  padding: 0.5rem;
  display: inline-block;
}
header ul li a:hover {
  cursor: pointer;
}


/* ---------------------------------------- */
/* yoga */
/* ---------------------------------------- */
@mixin box {
  width: 100%;
  position: relative;
  box-sizing: border-box;
  padding: 30px 40px 25px;
  display: block;
}
@mixin first {
  border-radius: $radius $radius 0 0;
  border-top: 1px solid $borderColor;
  border-left: 1px solid $borderColor;
  border-right: 1px solid $borderColor;
}
@mixin second {
  border-left: 1px solid $borderColor;
  border-right: 1px solid $borderColor;
}
@mixin third {
  border-radius: 0 0 $radius $radius;
  border-bottom: 1px solid $borderColor;
  border-left: 1px solid $borderColor;
  border-right: 1px solid $borderColor;
}
@mixin subtitle {
  font-size: 18px;
  font-weight: normal;
  text-align: center;
}
@mixin minibox {
  width: 30%;
  padding: 60px 40px 25px;
  border: 1px solid $borderColor;
}
@mixin borderAll {
  border-radius: $radius $radius $radius $radius;
}
@mixin flexbox {
  display: flex;
  justify-content: space-between;
}

.ashtanga {
  @include box;
}
.ashtanga p {
  line-height: 1.8;
}
.ashtanga:first-child {
  @include first;
}
.ashtanga:nth-child(2) {
  @include second;
}
.ashtanga:last-child {
  @include third;
}
.ashtanga h3 {
  @include subtitle;
  margin-bottom: 1.4em;
}

@media (min-width: 801px) {
  .ashtanga {
    @include minibox;
  }
  .ashtanga:first-child {
    @include borderAll;
  }
  .ashtanga:nth-child(2) {
    @include borderAll;
  }
  .ashtanga:last-child {
    @include borderAll;
  }
  #yoga .flexbox {
    @include flexbox;
  }
}
/* ---------------------------------------- */
/* decision */
/* ---------------------------------------- */
@media (min-width: 801px) {
  #decision .flexbox {
    @include flexbox;
  }
}
.ashtanga li {
  list-style-type: circle;
  list-style-position: inside;
}
.ashtanga div {
  margin-top: 2em;
}
#decision .dl-outline {
  margin-top: 3em;
}
.dl-outline li {
  list-style-position: inside;
}

/* ---------------------------------------- */
/* voices */
/* ---------------------------------------- */
.voice {
  @include box;
}
.voice:first-child {
  @include first;
}
.voice:nth-child(2) {
  @include second;
}
.voice:last-child {
  @include third;
}
.voice img {
  border-radius: 50%;
  border: 10px solid $bgColor;
  box-shadow: 0 0 2px 0 rgba(0,0,0,0.4);
  margin: 0 auto;
  display: block;
  width: 90px;
  height: 90px;
}
.voice h3 {
  @include subtitle;
}

@media (min-width: 801px) {
  .voice {
    @include minibox;
  }
  .voice:first-child {
    @include borderAll;
  }
  .voice:nth-child(2) {
    @include borderAll;
  }
  .voice:last-child {
    @include borderAll;
  }
  .voice img {
    position: absolute;
    left: 0;
    right: 0;
    top: -55px;
  }
  #voices .flexbox {
    @include flexbox;
    margin-top: 90px;
  }
}


/* ---------------------------------------- */
/* instructor */
/* ---------------------------------------- */
#instructor .flex {
  max-width: $narrowWidth;
  margin:0 auto;
  display: flex;
}
#instructor .info {
  flex: 0 0 $wideRatio;
  line-height: 1.8;
}
#instructor .info h3 {
  padding: 0 1rem;
}
#instructor .info p {
  padding: 1rem 1rem 0 1rem;
  margin-bottom: 0;
}
#instructor .info ul {
  padding: 1rem 1rem 0 1rem;
  margin-bottom: 0;
  display: flex;
  justify-content: flex-end;
}
#instructor .info li {
  margin-right: 1rem;
}
@mixin link {
  opacity: 1;
  transition: opacity 0.4s ease-out;
}
@mixin link-hover {
  opacity: 0.4;
  transition: opacity 0.2s ease-out;
}
#instructor .info a {
  @include link;
  font-weight: 500;
}
#instructor .info a:hover {
  @include link-hover;
}

#instructor .photo {
  flex: 0 0 $narrowRatio;
  border-radius: $radius;
  background-image: url(./img/danwang.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
}



/* ---------------------------------------- */
/* schedule */
/* ---------------------------------------- */
.gc_wrapper {
  // max-width: 800px;
  min-width: 300px;
  margin: 2.0833% auto;
}

.responsive-iframe-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px;
    height: 0;
    overflow: hidden;
}
.responsive-iframe-container iframe,
.responsive-iframe-container object,
.responsive-iframe-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}




/* ---------------------------------------- */
/* price event*/
/* ---------------------------------------- */

.dl-outline{
  max-width: $narrowWidth;
  margin:0 auto;
  border-top:2px solid $borderColor;
  border-bottom:2px solid $borderColor;
  overflow:hidden;
  letter-spacing: 0.04em;
}
.dl-outline dt{
  float:left;
  width:auto;
  padding-top:20px;
  padding-left:14px;
  padding-bottom: 20px;
}
.dl-outline dd{
  margin-bottom: 0;
  padding-top:20px;
  padding-right: 14px;
  padding-bottom: 20px;
  padding-left:237px;
  border-bottom:1px solid $borderColor;
}
.dl-outline dd:last-child{
  border-bottom: none;
}




/* ---------------------------------------- */
/* access */
/* ---------------------------------------- */
#access .flex {
  display: flex;
  max-width: $narrowWidth;
  margin: 0 auto;
}
#access .info {
  flex: 0 0 $narrowRatio;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-right: 1em;
  line-height: 1.2;
}
.gmap {
  border-radius: $radius;
  flex: 0 0 $wideRatio;
  height: 0;
  overflow: hidden;
  // 56.25%
  // padding-bottom: 28.125%;
  padding-bottom: 32.625%;
  position: relative;
}
.gmap iframe {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
}

/* ---------------------------------------- */
/* facility */
/* ---------------------------------------- */

.item .metabox{
  position: relative;
  display:flex;
  margin-top: 10px;
  width: 316px;
  height: 100px;
}
.item .place{
  display:inline-block;
  position: absolute;
  top:0;
  right:0;
  margin-top:2px;
  margin-bottom: 0;
  padding-left: 12px;
  padding-right: 12px;
  border-radius: $radius;
  background-color: #D8D8D8;
}
.item .imgbox{
  border-radius: 10px;
  overflow: hidden;
  img {
    user-select: none;
    max-width: 316px;
    height: 237px;
    object-fit: cover;
    font-family: "object-fit: cover";
    cursor: pointer;
  }
}
.facility-slider .item {
  min-width: 316px;
}
.facility-slider {
  width:1724px;
  position: relative;
  left:50%;
  margin-left: -862px;
  overflow: hidden;
}

/* ---------------------------------------- */
/* footer */
/* ---------------------------------------- */
footer{
  padding-top: 50px;
  padding-right:30px;
  padding-left:30px;
}
footer .footer-nav{
  margin-bottom: 16px;
}
footer .footer-nav-unit{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
footer .footer-nav-unit li{
  position: relative;
  padding:0 1.5em;
}
footer .footer-nav-unit li::after{
  content:'';
  display: block;
  width: 1px;
  height: 1rem;
  background-color:#333;
  position: absolute;
  top:5px;
  right:0;
}
footer .footer-nav-unit li:last-child::after{
  display: none;
}
footer .footer-nav-unit li a{
  text-decoration: none;
  @include link;
}
footer .footer-nav-unit li a:hover{
  @include link-hover;
}
footer .footer-nav-unit li a svg{
  margin-right: 0.5rem;
}
footer .inner{
  display:flex;
  justify-content: space-between;
  align-items: flex-end;
  border-top: 1px solid #DDDDDD;
  padding-top:30px;
  padding-bottom: 20px;
  font-size:13px;
  color:#444;
  line-height: 1.6;
}
@media screen and (min-width: 801px){
  footer .footer-logo{
    order:2;
    position: relative;
    top: -8px;
  }
}
footer .footer-legal{
  align-items:baseline;
}
footer .copyright{
  margin-left: 18px;
  font-size:10px;
  letter-spacing: 0.04em;
}

@import "smallview.scss";


.swiper-container {
	position: relative;
}
.custom-shape-divider-bottom-1615337033 {
	position: absolute;
	bottom: 39px;
	left: 0;
	width: 100%;
	overflow: hidden;
	line-height: 0;
	transform: rotate(180deg);
  z-index: 1000;
}

.custom-shape-divider-bottom-1615337033 svg {
	position: relative;
	display: block;
	width: calc(134% + 1.3px);
	height: 128px;
}

.custom-shape-divider-bottom-1615337033 .shape-fill {
	fill: #FFFFFF;
}
@media (max-width: 800px) {
  .custom-shape-divider-bottom-1615337033 {
    bottom: 107px;
  }
}

/* ---------------------------------------- */
/* call_to_action */
/* ---------------------------------------- */
#call_to_action div {
  margin: 0 auto;
  max-width: $narrowWidth;
  text-align: center;
}
.btn,
a.btn,
button.btn {
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.5;
  position: relative;
  display: inline-block;
  padding: 1rem 4rem;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  letter-spacing: 0.1em;
  color: #212529;
  border-radius: 0.5rem;
}

a.btn--circle {
  width: 140px;
  height: 140px;
  padding: 20px 0 0;
  border-radius: 50%;
  color: #fff;
  background: #eb6877;
  -webkit-box-shadow: 0 7px 0 #e53b4e;
  box-shadow: 0 7px 0 #e53b4e;
}

a.btn--circle i {
  font-size: 150%;
}

.fa-position-bottom {
  position: absolute;
  bottom: 1rem;
  left: calc(50% - 0.5rem);
}

a.btn--circle:hover {
  -webkit-transform: translate(0, 4px);
  transform: translate(0, 4px);
  color: #fff;
  -webkit-box-shadow: 0 3px 0 #e53b4e;
  box-shadow: 0 3px 0 #e53b4e;
}

/* fadeLeft */
.fadeLeft {
  animation-name: fadeLeftAnime;
  animation-duration: 0.8s;
  animation-fill-mode: forwards;
  opacity: 0;
}
@keyframes fadeLeftAnime{
  0% {
    opacity: 0;
    transform: translateX(-120px);
  }
  80% {
    transform: translateX(20px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
/* zoomOut */
.zoomOut {
	animation-name: zoomOutAnime;
	animation-duration: 0.8s;
	animation-fill-mode: forwards;
}
@keyframes zoomOutAnime {
  from {
    transform: scale(1.4);
    opacity: 0;
  }
  to {
    transform:scale(1);
    opacity: 1;
  }
}

/*波紋*/
.circle span.mask{
	position: relative;/*波紋の基点となる位置を定義*/
    display: block;
    line-height: 0;/*行の高さを0にする*/
    overflow: hidden;/*拡大してはみ出る要素を隠す*/
}
.circle span.mask::before {
	position: absolute;
	content:"";
	transform: scale(0);/*円の大きさ初期値は0*/
	opacity: 0;/*透過0*/
	width:100%;/*円のサイズ指定*/
	height:100%;/*円のサイズ指定*/
	border-radius:50%;/*円の角丸指定*/
	background: rgba(255,255,255,0.4);/*円の背景色*/
  z-index: 1000;
}
.circle:hover span.mask::before {/*hoverした時の変化*/
	animation: circle 0.75s;/*アニメーションの名前と速度を定義*/
}
@keyframes circle {
  0% {
  transform: scale(0);
  opacity: 1;/*透過なし*/
  }
  30% {
    opacity: 1;
  }
  100% {
  transform: scale(2);/*アニメーションで大きくなった2倍の円の指定*/
  }
}

/* 画像モーダル */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);
  display: none;
  z-index: 1000;
}
.bigimg {
  position: absolute;
  width: 80%;
  max-width: 800px;
  top: 20px;
  left: 0;
  right: 0;
  margin-right: auto;
  margin-left: auto;
}
.close-btn {
  color: #fff;
  font-size: 40px;
  position: absolute;
  right: 20px;
  top: 0;
}
.close-btn a {
  color: #fff;
  text-decoration: none;
}

/*画像拡大＋回転*/
.zoomInRotate img {
	transform: scale(1);
	transition: .3s ease-in-out;
}
.zoomInRotate:hover img {
	transform:rotate(5deg) scale(1.2);
}
.zoomInRotate .mask {
    display: block;
    line-height: 0;/*行の高さを0にする*/
    overflow: hidden;/*拡大してはみ出る要素を隠す*/
}

/*========= 流れるテキスト ===============*/
.slide-in {
	overflow: hidden;
}
.slide-in_inner {
	display: inline-block;
}
.leftAnime{
  opacity: 0;
}
/*左右のアニメーション*/
.slideAnimeLeftRight {
  animation-name:slideTextX100;
  animation-duration:0.8s;
  animation-fill-mode:forwards;
  opacity: 0;
}
@keyframes slideTextX100 {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}
.slideAnimeRightLeft {
  animation-name:slideTextX-100;
  animation-duration:0.8s;
  animation-fill-mode:forwards;
  opacity: 0;
}
@keyframes slideTextX-100 {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

/*========= 光りながら出現させるためのCSS ===============*/
.glowAnime span{opacity: 0;}
/*アニメーションで透過を0から1に変化させtext-shadowをつける*/
.glowAnime.glow span{ animation:glow_anime_on 1s ease-out forwards; }
@keyframes glow_anime_on {
  0% { opacity:0; text-shadow: 0 0 0 #fff,0 0 0 #fff;}
  50% { opacity:1;text-shadow: 0 0 10px #fff,0 0 15px #fff; }
  100% { opacity:1; text-shadow: 0 0 0 #fff,0 0 0 #fff;}
}